<%
const cfg = App.GetConfig( "./data.json" );
const {
	extraClasses,
	extraAttrs
} = cfg
%>

<%
const classes = `example ${extraClasses.join(" ")}`.trim()
const attrs = extraAttrs.join(" ")
%>

<div
	class="<%= classes %>"
	<%- extraAttrs %>
>

</div>
